# © 2022 Aquarobur Technologies AB
#
# SPDX-License-Identifier: Apache-2.0

config MODEM_UBLOX_PWR
       bool "Enable Ublox modem power for gsm_ppp"
       default y if MODEM && !MODEM_UBLOX_SARA


config MODEM_UBLOX_PWR_INIT_PRIORITY
	int "Init priority for the GSM modem power driver"
	default 41
	range 0 99
	depends on MODEM_UBLOX_PWR
	help
	  The Ublox GSM modem is powered in POST_KERNEL using priority in
	  the range 0-99.
