# © 2020 Endian Technologies AB
#
# SPDX-License-Identifier: Apache-2.0

config UBLOX_PPP_EXTENSIONS
       bool "Enable Ublox modem extensions for gsm_ppp"

if UBLOX_PPP_EXTENSIONS

config MODEM_GSM_MNOPROF
       int "MNO profile for the network connection"
       default 100
       help
         This setting is used in the AT+UMNOPROF command to set the MNO
         profile for the network connection.  This value is specific to
         the network provider and must be changed.

config MODEM_GSM_CONFIGURE_URAT
       bool "Enable support for selecting RATs"
       default y
       help
         Choose this setting to select the Radio Access Technologies used.

config MODEM_GSM_CONFIGURE_URAT1
       bool "Enable support for selecting RATs"
       default y
       depends on MODEM_GSM_CONFIGURE_URAT
       help
         Choose this setting to select the Radio Access Technologies used.

config MODEM_GSM_CONFIGURE_URAT2
       bool "Enable support for selecting RATs"
       default n
       depends on MODEM_GSM_CONFIGURE_URAT && MODEM_GSM_CONFIGURE_URAT1
       help
         Choose this setting to select the Radio Access Technologies used.

if MODEM_GSM_CONFIGURE_URAT

config MODEM_GSM_URAT
       string "Radio Access Technologies (RATs)"
       default "8"
       help
         This setting is used to change the RATs that the modem will use
         to connect to the network
         (legacy, use MODEM_GSM_URAT1, MODEM_GSM_URAT2 and/or MODEM_GSM_URAT3)

config MODEM_GSM_URAT1
       int "Radio Access Technology (RAT) 1"
       default 8
       depends on MODEM_GSM_CONFIGURE_URAT1
       help
         This setting is used to change the RAT 1 that the modem will use
         to connect to the network.
         This is not meant to be upstreamed as-is!
	 (3: LTE, 7: LTE Cat M1, 8: LTE Cat NB1, 9: GPRS / eGPRS)

config MODEM_GSM_URAT2
       int "Radio Access Technology (RAT) 2"
       default 8
       depends on MODEM_GSM_CONFIGURE_URAT2
       help
         This setting is used to change the RAT 2 that the modem will use
         to connect to the network.
         This is not meant to be upstreamed as-is!
	 (3: LTE, 7: LTE Cat M1, 8: LTE Cat NB1, 9: GPRS / eGPRS)

endif # MODEM_GSM_CONFIGURE_URAT

config MODEM_GSM_CONFIGURE_UBANDMASK
       default y
       bool "Enable support for selecting band masks"
       help
         Choose this setting to select the band masks for each RAT.

if MODEM_GSM_CONFIGURE_UBANDMASK

config MODEM_GSM_UBANDMASK_LTE_CAT_M1
       int "Bandmask for LTE-Cat-M1"
       default 526494
       help
         This setting is used to change the band mask for LTE-M1. It
         is a bitmask where bit 0 is band 1, etc.
         This is not meant to be upstreamed as-is!

config MODEM_GSM_UBANDMASK_NB1
       int "Bandmask for LTE-NB1"
       default 526494
       help
         This setting is used to change the band mask for LTE-NB1. It
         is a bitmask where bit 0 is band 1, etc.
         This is not meant to be upstreamed as-is!

config MODEM_GSM_UBLOX_PWR_INIT_PRIORITY
	int "Init priority for the GSM modem driver"
	default 41
	range 0 99
	help
	  The Ublox GSM modem is powered in POST_KERNEL using priority in
	  the range 0-99.

endif # MODEM_GSM_CONFIGURE_UBANDMASK

endif # UBLOX_PPP_EXTENSIONS
